* {
    font-family: sans-serif;
    color: #c7c9ca;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#loading-text {
    font-size: 48px;
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
